@import "../../../theme/lib/variables.scss";

.content {
  background-color: white;
  max-width: 60%;
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 1px 4px 4px rgba(115, 115, 115, 0.04), 1px 1px 8px rgba(115, 115, 115, 0.16);
  border-radius: 8px;

  #item{
    width: 6px;
    height: 48px;
    border-radius: 3px;
  }

  #icon{
    margin-left: 15px;
  }

  #message{
    margin-left: 15px;
    .title{
      font-weight: bold;
    }
    .messsage{
      margin-top: 15px;
    }
  }

}

.color-warning{
  color: $color-warning;
}

.background-color-warning{
  background-color: $color-warning;
}
